node_modules
dist
vite.config.js.timestamp-*
android/keystore.properties
*.jks
android/build
android/app/build
android/.gradle
android/local.properties
capacitor-cordova-android-plugins/build
android/app/capacitor.build.gradle
android/capacitor.settings.gradle
*.log
